
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	/*font-family: 'Roboto', sans-serif;*/
    font-family: "Josefin Sans", sans-serif;
	font-size:16px;
    font-weight: 500;
    letter-spacing: 1.4px;
	color:#B4CEFF;
	background: #d6e4ff;
    text-transform: capitalize;
    max-width:1920px;
    width: 100%;
    height: 100%;
    margin:0 auto;
	overflow-x:hidden;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#004AAD;
    font-size: 18px;
    font-weight: 500;
}
p {
	margin: 0;
	color:#84adfa;
	font-size:16px;
    line-height: 1.8;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{height: 100%;}


/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    font-size: 30px;
    font-weight: 500;
}   
.section-header h2 span{text-transform: lowercase;}
/* section-header */

/*=============Style css==========*/
/*-------------------------------------
        Header e navbar
--------------------------------------*/
.header-1 {
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
}

.logo{
    margin: 0 auto;
    padding: 10px;
    
}

main{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.navbar-nav li{
	text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    
}

.navbar-nav li a{
	color: #fff;
}

.navbar-nav li a:hover{
	color: #004AAD;
}

.navbar-nav .nav-link.active{
    color: #004AAD;
}

.dropdown-menu{
    background-color: #004AAD;
}

.dropdown-menu li a:hover{
    background-color: transparent;
    color: #B4CEFF;
}

.dropdown-divider{
   background-color: #B4CEFF;
}

.bg-navbar{
    background-color: #B4CEFF;
}

.nav-item{
    margin-left: 20px;
}
/*-------------------------------------
       Introduction
--------------------------------------*/
.introduction{
    height: 80%;
    width: 100%;
    background-color: white;
    padding: 7%;
}

.carousel img{
    margin: 0 auto;
}

.carousel-item{
    padding-bottom: 150px;
}

/*-------------------------------------
       Categories
--------------------------------------*/
.categories {padding-top: 90px;}

.categories-flex{
    margin-top: 5%;
    margin-bottom: 5%;
}
        
.categories-content{
                    display: flex; 
                    flex-direction: row;
                    justify-content: space-between;
                    }

.container-category{
    background-color: white;
    height: 250px;
    width: 250px;
}

.container-category a h1{
    margin-top: 35%;
    text-align: center;
}



.description-category{
    background-color: #004AAD;
    text-align: center;
}


.description-category p{
    color: white;
    
}

/*-------------------------------------
        Featured
--------------------------------------*/
.description{
    display: flex;
    justify-content: space-between;
    background-color: #004AAD;
    padding: 0 10px;
}

.description p{
    color: white;
}

/*-------------------------------------
        News-letter
--------------------------------------*/
.whitespace{padding:300px 0 75px; background-color: white;}

/*-------------------------------------
        Footer
--------------------------------------*/
    .copyright-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #004AAD;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:10vh;
    text-align:center;
    background-color: #B4CEFF;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }


/*----------------------------------------------------------------------------------
/*-------------------------------------
        WOMEN.html
--------------------------------------*/

/*----------------------------------------------------------------------------------*/
.container-name
{
    width: 100%;
    padding-top: 3%;
    background-color: white;
}

.title-description{
    text-align: center;
    text-transform: none;
}

.title-description h1{
   font-size:x-large;
   padding-bottom: 0.5%;
}

.title-description h2{
   font-size: small;
}

.title-description hr{
    color: #004AAD;
    width: 100%;
    margin: 1.3% 0 auto;
 }

 .big-container{
    height: 170%;
    width: 100%;
    /*background-color: red;*/
    display: inline-flex;
 }

 .navbar-container{
    background-color: white;
    width: 300px;
    height: 170px;
    margin-left: 2%;
    padding-left: 1%;
    padding-top: 1%;
    font-size: smaller;
 }

 .shop-navbar a{
    display: block;
 }

 .clothes-container{
   /* background-color: green;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 2%;
    
 }

 .clothes-rectangle{
    background-color: #B4CEFF;
    width: 350px;
    height: 350px;
 }

 .clothes-description{
    width: 100%;
    background-color: white;
    height: 15%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    text-transform: capitalize;
 }

 .clothes-description p{
    font-size: small;
    font-weight: 500;
 }

 .img-section{
    margin: 0 auto;
    background-color: pink;
    width: 80%;
 }




 

 /*CONTACTS*/
 /*-------------------------------------
                Form
--------------------------------------*/
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #B4CEFF;
  }
  
  .screen-header-button.maximize {
    background: #5A8CD6;
  }
  
  .screen-header-button.minimize {
    background: #004AAD;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #B4CEFF;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #B4CEFF;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 10px;
    color: #B4CEFF;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #B4CEFF;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #B4CEFF;
    color: white;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #B4CEFF;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-buttons {
    background: transparent;
    font-weight: bold;
    border: none;
    color: #666;
  }
  
  .app-form-buttons:hover {
    color: #B4CEFF;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  /* contacts-end*/