
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color:#a09e9c;
	background: #d6e4ff;
    text-transform: capitalize;
    max-width:1920px;
    width: 100%;
    height: 100%;
    margin:0 auto;
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#5f5b57;
    font-size: 18px;
    font-weight: 500;
}
p {
	margin: 0;
	color:#a09e9c;
	font-size:16px;
    line-height: 1.8;
}
img{border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{height: 100%;}


/* section-header */
.section-header{
    position: relative;
    text-align: center;
}
.section-header h2{
    font-size: 30px;
    font-weight: 500;
}   
.section-header h2 span{text-transform: lowercase;}
/* section-header */

/*=============Style css==========*/
/*-------------------------------------
        Header e navbar
--------------------------------------*/
.header-1 {
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
}

.logo{
    margin: 0 auto;
    padding: 10px;
    
}

main{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.navbar-nav li{
	text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    
}

.navbar-nav li a{
	color: #fff;
}

.navbar-nav li a:hover{
	color: #004AAD;
}

.navbar-nav .nav-link.active{
    color: #004AAD;
}

.dropdown-menu{
    background-color: #004AAD;
}

.dropdown-menu li a:hover{
    background-color: transparent;
    color: #B4CEFF;
}

.dropdown-divider{
   background-color: #B4CEFF;
}

.bg-navbar{
    background-color: #B4CEFF;
}

.nav-item{
    margin-left: 20px;
}
/*-------------------------------------
       Introduction
--------------------------------------*/
.introduction{
    height: 80%;
    width: 100%;
    background-color: white;
    padding: 7%;
}

.carousel img{
    margin: 0 auto;
}

.carousel-item{
    padding-bottom: 150px;
}

/*-------------------------------------
       Categories
--------------------------------------*/
.categories {padding:85px 0 70px;}
.categories-content{margin-top: 80px;}
.single-categories{margin-bottom: 50px;text-align: center;}
.single-categories-bg {
    position: relative;
    min-height: 310px;
    background: #f8f9fc;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow:hidden;
}
.single-categories-bg img{
    width:auto;
    height:auto;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-categories-bg-overlay{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(106,119,129,.1);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-categories  h4 a{
    color:#5f5b57;
    font-size:16px;
    font-weight:500;
    margin:26px 0 12px;
}

/*-------------------------------------
        Featured
--------------------------------------*/
.feature {padding:110px 0 0px;}

.feature-content,.blog-content{margin-top: 75px;}
.single-feature,.single-blog {margin-bottom:30px;}

/*.single-feature-txt */
.single-feature-txt,.single-blog-txt{margin-top: 25px;}
.single-feature-txt p i {
    color:  #efce4a;
    margin-left:  5px;
}
span.spacial-feature-icon i {color:  #a9a9a9;}
span.feature-review {margin-left: 10px;}
.single-feature-txt p {font-size: 14px;}
.single-feature-txt h3 a ,.single-blog-txt h2 a{
    color: #5f5b57;
    margin: 10px 0px 15px;
}
.single-feature-txt h5 {
    color:  #5f5b57;
    font-weight:  400;
}
/*.single-feature-txt */


/*-------------------------------------
        News-letter
--------------------------------------*/
.newsletter{padding:120px 0 75px;}

.hm-footer-widget{margin-bottom: 30px;}
.hm-foot-title h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 45px;
}
.hm-foot-menu ul li a {
    color: #a09e9c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.hm-foot-menu ul li a:hover{
    color: #fff;
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}
.hm-foot-para p {
    font-size: 14px;
    text-transform: initial;
    margin-bottom: 25px;
}


/*hm-foot-email*/
.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#fff;
    display: block;
    padding:25px 15px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}
.foot-email-box input[type="text"]{
    font-size: 14px;
    color: #bcb7b2;
}
.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #dfd2c3;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}
/*hm-foot-email*/


/*-------------------------------------
        Footer
--------------------------------------*/
    .copyright-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #004AAD;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:10vh;
    text-align:center;
    background-color: #B4CEFF;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

/*----------------------------------------------------------------------------------
ESCREVE O CSS APARTIR DAQUI*/
